.gridintro {
  margin-top: 10%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.undertitle {
  grid-column: 1;
}
.mypic {
  margin: auto;
  grid-column: 2;
  grid-row: 1;
}

.quick {
  grid-column: span 2;
  margin-right: 10%;
}
.attachements {
  grid-column: span 2;
}
