.menu {
    position: sticky;
    top: 0%;
    padding: 1.5% 5%;
    background: rgb(82, 8, 166);
    text-align: center;
    z-index: 1;
}

.menu a:hover {
    background: rgb(255, 255, 255);
    padding: 2% 0%;
    padding-left: 2%;
    padding-right: 2%;
    color: black;
}

.menu a {
    color: white;
    text-align: center;
    text-decoration: none;
    padding-left: 2%;
    padding-right: 2%;
}

/* .activated {
    background: rgb(255, 255, 255);
    padding: 2% 0%;
    color: black;
} */