:root {
  font-size: 15px;
  font-family: Roboto, sans-serif;
  --main-color: rgb(82, 8, 166);
  --secondary-color: rgb(18, 5, 32, 0.5);
  --background-color: rgb(240, 240, 240); }

body {
  background-color: var(--background-color);
  offset-anchor: 50%;
  padding: 0%;
  margin: 0%;
  scroll-behavior: smooth;
}

main section {
  /* margin-top: unset; */
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 20%;
  scroll-margin-top: 5em;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 1.5rem;
}

h2,
h3 {
  color: var(--main-color);
  font-family: Bebas Neue, sans-serif;
}

footer {
  position: relative;
  text-align: center;
  bottom: 90%;
  height: 250px;
  width: 100%;
  background: var(--main-color);
}

.socialsactuallinks a {
  color: whitesmoke;
  text-decoration: none;
  padding-right: 2%;
}